.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.resetButton {
  margin-top: 8px;
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  font-size: 18px;
}
